* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    > * {
        flex-grow: 1;
        border: 2px solid black
    }
}

body * > :has[label]{
    label{
        display: flex;
    }
}